
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <script type="text/javascript" src="~/Vendor/jquery/dist/jquery.min.js"></script>
    <script type="text/javascript" src="~/Vendor/bootstrap/dist/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="~/Vendor/bootstrap-datepicker-master/dist/js/bootstrap-datepicker.min.js"></script>
    @*<script type="text/javascript" src="~/Vendor/Vue/vue.js"></script>*@
    <link rel="stylesheet" href="~/Vendor/bootstrap/dist/css/bootstrap.css" />
    <link rel="stylesheet" href="~/Vendor/bootstrap-datepicker-master/dist/css/bootstrap-datepicker3.css" />
    <title>Component</title>
</head>
<body>




    <input type="text" class="form-control-sm datepicker" placeholder="Please select date time" style="width:180px;" />
    <input type="text" class="form-control datepicker" placeholder="Please select date time" style="width:180px;" />

    @*@Html.Partial("Component/_C_Select2")*@

    <script type="text/javascript">

        $(function () {

            $(".datepicker").datepicker({
                format: "yyyy-mm-dd",
                autoclose: true,
                todayBtn:true
            });
        })

        //Vue.component('todo-item', {
        //    props: ['todo'],
        //    template: '<li>{{ todo.text }}</li>'
        //})
        //var app7 = new Vue({
        //    el: '#app-7',
        //    data: {
        //        groceryList: [
        //            { id: 0, text: '蔬菜' },
        //            { id: 1, text: '奶酪' },
        //            { id: 2, text: '随便其他什么人吃的东西' }
        //        ]
        //    }
        //})


    </script>

</body>
</html>
