
@{
    ViewBag.Title = "Datetimepicker";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Datetimepicker</h2>


<div id="app">
    <div class="container">
        <div class="row">
            <div class='col-sm-6'>

                <div class="form-group">
                    <div class='input-group date' :id='id' style="width:240px;">
                        <input type="text" class="form-control" v-model="SelectDate" />
                        <span class="input-group-addon">
                            <span class="glyphicon glyphicon-calendar"></span>
                        </span>
                    </div>

                    <input id="btnDate1" type="button" class="btn btn-danger" value="GetDate" />
                    <p>{{SelectDate}}</p>
                </div>
            </div>
        </div>
    </div>
</div>

<div id="app1">
    <div class="container">
        <div class="row">
            <div class='col-sm-6'>

                <div class="form-group">
                    <div class='input-group date' :id='id' style="width:240px;">
                        <input type="text" class="form-control" v-model="SelectDate" />
                        <span class="input-group-addon">
                            <span class="glyphicon glyphicon-calendar"></span>
                        </span>
                    </div>

                    <input id="btnDate2" type="button" class="btn btn-danger" value="GetDate" />
                    <p>{{SelectDate}}</p>
                </div>
            </div>
        </div>
    </div>
</div>



@System.Web.Optimization.Scripts.Render("~/bundles/datetimepicker/js")
@System.Web.Optimization.Styles.Render("~/bundles/datetimepicker/css")
<script type="text/javascript" src="~/Scripts/c_datetimepicker.js"></script>


<script type="text/javascript">


    var app = c_datetimepicker('app', 'sDate');
    var app1 = c_datetimepicker('app1', 'sDateBK');

    //var app = new Vue({
    //    el: '#app',
    //    data: {
    //        id: 'sDate',
    //        format: 'YYYY-MM-DD HH:mm:ss',
    //        SelectDate: null
    //    },
    //    methods: {
    //        initDatetimepicker: function () {
    //            var option = {
    //                format: this.format,
    //                minDate: '2017-01-01',
    //                maxDate: '2018-02-01',
    //                sideBySide: false,
    //                showClear: true
    //            };
    //            var date = $('#' + this.id);
    //            date.datetimepicker(option);
    //            var $this = this;
    //            date.on('dp.change', function (e) {
    //                $this.SelectDate = moment(e.date).format($this.format);
    //            });


    //            return date;
    //        },
    //        setDate: function (value) {

    //            $('#' + this.id).data("DateTimePicker").date(value);//获取

    //        }

    //    }

    //})

    //var date = app.initDatetimepicker();

    $(function () {

      
     

        $('#btnDate1').on('click', function (e) {
            //    var aa = date.data("DateTimePicker").date();//获取
            //app.setDate('2017-01-02 13:39:45');
            alert(app.SelectDate);

        });

        $('#btnDate2').on('click', function (e) {
            //    var aa = date.data("DateTimePicker").date();//获取
            //app1.setDate('2017-01-02 13:39:45');
            alert(app1.SelectDate);

        });

        //$('#datetimepicker1').datetimepicker().on('change', function (e) {
        //    alert(e.date);
        //});



    })

</script>
